.card {
	margin-left: 0;
	margin-right: 0;
	box-shadow: none;
	.card-title {
		color: #000;
		font-size: 1.15em;
	}
	.item-media img{
		width: 2.5em;
		border-radius: 100%;
	}
}
.card-header {
	.list-block {
		width: 100%;
	}
	.item-content {
		padding-left: 0 !important;
		.item-media {
			padding: 0 !important;
			margin-right: .5em;
		}
		.item-inner {
			padding: 0 !important;
			margin: 0 !important;
			&:after {
				display: none;
			}
			.item-title-row {
				color: #333333;
				background-image: none !important;
			}
			.item-subtitle {
				color: #999999;
			}
		}		
	}
}
.card-content-inner {
	.news-message {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
	}
}