@import './base.less';
@import './font/iconfont.css';
@import '../iconfont/editor_buttons_panel/iconfont.css';
@import '../iconfont/task_icons/iconfont.css';
@import './button.less';
@import './newscontent.less';
@import './tools.less';
@import './common.less';
@import './media.less';
@import './news.less';
@import './commonfooternav.less';

@import './variable.less';

.card {
	margin-left: 0;
	margin-right: 0;
	box-shadow: none;
	.card-title {
		color: #000;
		font-size: 1.15em;
	}
	.item-media img{
		width: 35px;
		border-radius: 100%;
	}
}
.card-header {
	.list-block {
		width: 100%;
	}
	.item-content {
		padding-left: 0 !important;
		.item-media {
			padding: 0 !important;
			margin-right: .5em;
		}
		.item-inner {
			padding: 0 !important;
			margin: 0 !important;
			&:after {
				display: none;
			}
			.item-title-row {
				color: #333333;
				background-image: none !important;
			}
			.item-subtitle {
				color: #999999;
			}
		}		
	}
}
.card-content-inner {
	.news-message {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
	}
}

.base-list {
	.hint {
		display: flex;
		align-items: center;
		text-align: center;
		height: 100%;
		.hint-inner {
			display: flex;
			flex-direction: column;
			width: 100%;
			.hint-media {
				text-align: center;
				img {
					max-width: 12em;
					width: 30%;
				}
			}
			.hint-label p{
				color: #bfbfbf;
				// font-size: .8em;
			}
		}
	}
}
.popover-more {
	width: 100px;
}

.news-content-page {
	.author-content-wrapper {
		padding: 1em 0;
		.content {
			padding: 1em;
		}
	}
	.comment-list-wrapper {
		// padding: 1em 0;
		margin-top: .5em;
		.comment-item {
			padding: 15px 0;
			border-bottom: solid 1px #f0f0f0;
		}
		.comment-item:after {
		    // content: '';
		    // position: absolute;
		    // z-index: 1;
		    // left: 0;
		    // // bottom: -18px;
		    // width: 100%;
		    // height: 1px;
		    // background: #f0f0f0;
		    // transform: scaleY(0.5);
		}
	}
	.subject {
		padding: 0 1em;
	}
	.card-header:after {
		padding: 1em;
		display: none;
	}
}


.iconfont span {
	margin: 0 .2em;
}


.editor_input {
    white-space: pre-wrap;
    word-wrap: break-word;
    -webkit-appearance: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    display: block;
    font-size: 13px;
    color: #262626;
    border: none;
    padding: 10px 8px;
    line-height: 16px;
    background: #fff;
    font-weight: 600;
}
.editor_panel .editor_content {
    overflow: auto;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    font-weight: 400;
    padding: 20px 17px 0;
    resize: none;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.media-bar {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: flex;
    -webkit-tap-highlight-color: transparent;
    line-height: 45px;
    background-color: #fff;
    border-top: solid 1px #f0f0f0;
    border-bottom: solid 1px #f0f0f0;
    .btn-item {
    	padding: 0 1em;
    	position: relative;
    	.icon {
    		width: auto;
    		height: auto;
    		font-size: 24px;
    		line-height: 24px;
    		text-align: center;
    	}
    	&.send {
    		padding-right: 0;
    		width: 100%;
    		text-align: right;
    		span {
    			padding: 1em;
    			// background: #007aff;
    			color: #ec6b34;
    		}
    	}
    }
    .btn-topic {
    	color: #000;
    }
}
.smile-btn-panel .smile-btn {
	margin-left: 17px;
}



.page-bg-fill,
.bg-fill {
	background-color: #fff;
}

.modal-overlay, .picker-modal-overlay, .popup-overlay, .preloader-indicator-overlay {
	transition-duration: 0s !important;
}

.brow-panel-wrapper{
	padding: 0 1em;
	height: 11rem;
	overflow: scroll;
	transition: all .2s;
	.row {
		margin: .5rem 1rem;
	}
	.icon {
		width: 2rem;
		height: 2rem;
	}
}
.brow-item-wrapper {
	text-align: center;
}
.icon {
	// color: #292929;
	width: 2em;
	// height: 2em;
	vertical-align: -0.15em;
	fill: currentColor;	
}

.iconfont.active {
	color: #007aff;
}
.upload-input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    font-size: 30px;
}

.reply-page {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -ms-flex-direction: column;
    flex-direction: column;
    // background: #fff;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
	.editor_content {
		width: 100%;
		height: 160px;
	}    
	.editor_title_wrap {
		padding: 1em;

		input {
			font-size: 18px;
			border-bottom: solid 1px #d2d2d2;
		}
	}
}

.multi-preview {
    // padding-left: 17px;
    // padding-top: 10px;
    overflow: scroll;
    background-color: #fff;
    top: 45px;
    left: 0;
    width: 100%;
    .multi-content {
    	margin: 1em;
    }
    .item {
	    display: inline-block;
	    position: relative;
	    margin: 15px 15px 0 0;
	    text-align: center;
	    line-height: 60px;
	    vertical-align: middle;
	    width: 80px;
	    height: 80px;
	    color: #d0d2d4;
	    font-family: arial;
	    font-size: 40px;
	    &.add {
	    	// border: dashed 2px #d0d2d4;
	    	background-color: #757575;
	    	&:after {
	    		font-family: 'Framework7 Icons';
	    		text-align: center;
				content: "camera_fill";
		    	// font-size: 2em;
		    	color: #fff;
		    	line-height: 80px;
	    	}
	    }
	    .item-span {
			width: 100%;
		    height: 100%;
		    display: inline-block;
		    box-shadow: 0 1px 3px 1px rgba(0,0,0,.2);	   
		    background-repeat: no-repeat;
		    background-size: cover;
		    background-position: center 20%; 	
	    }
	    .item-close {
		    position: absolute;
		    width: 30px;
		    height: 30px;
		    top: 6px;
		    right: -10px;
		    margin-top: -18px;	  
		    .btn-close {
				position: absolute;
			    top: 50%;
			    left: 50%;
				height: 27px;
			    width: 27px;
			    border-radius: 13px;
			    margin: -12px 0 0 -12px;	
			    background-color: rgba(0,0,0,.5);
			    transform: rotate(45deg);
			    &:before {
					content: '';
				    position: absolute;
				    background: #fff;
				    left: 50%;
				    top: 50%;
				    // height: 13px;
				    // width: 1px;
				    // margin: -6px 0 0;				    
				    background-color: #d5d6d8;
				    height: 16px;
				    width: 2px;
				    margin: -8px 0 0 -1px;				    
			    }  
			    &:after {
			    	content: '';
				    position: absolute;
				    background: #fff;
				    left: 50%;
				    top: 50%;
				    // height: 13px;
				    // width: 1px;
				    // margin: -6px 0 0;				    
				    background-color: #d5d6d8;
				    height: 2px;
				    width: 16px;
				    margin: -1px 0 0 -8px;		
			    }
		    }  	
	    }
    }
}

.floor {
	margin-bottom: 6px;
	background-color: #fff;
	.floor-wrap {
		padding: 17px 17px 10px 17px;
	    &.more {
	    	position: relative;
	    }
	   	.infos {
	   		.avatar {
				float: left;
			    width: 35px;
			    height: 35px;
			    border-radius: 50%;
			    overflow: hidden;  			
	   		}
		    .author-time {
		    	height: 35px;
			    margin-left: 8px;
			    float: left;
			    .author-icons {
				    .author {
						float: left;
					    display: block;
					    height: 17px;
					    line-height: 17px;
					    color: #333;
					    font-size: 14px;
					    margin-bottom: 6px;
				    }		    	
			    }
			    .time {
			    	float: left;
				    display: block;
				    color: #999;
				    font-size: 12px;
				    height: 12px;
				    line-height: 12px;
				    margin-left: 0;			    	
			    }
		    }    
		    .more-operation {
			    position: absolute;
			    /*top: 17px;*/
			    right: 17px;
			    width: 100%;
			    height: 0;
		    }
	   	}
	   	.item {
	   		margin: 9px 0 0;
	   		display: block;
	   		.title {
			    word-break: break-all;
			    color: #000;
			    font-size: 16px;
			    line-height: 24px;
			    margin-bottom: 4px;   

			    span {
				    display: -webkit-box;
				    -webkit-box-orient: vertical;
				    -webkit-line-clamp: 3;
				    overflow: hidden;		    	
			    }

	   		}
	   		.content {
			    // margin: 10px 0 4px;
			    padding-left: 43px;
			    text-align: justify;   
	   			display: inline-block;
			    line-height: 24px;
			    font-size: 16px;
			    color: #333;
			    word-break: break-word;			
	   		}
	   		.info {
	   			padding-left: 43px;
	   			margin-top: 1rem;
	   			font-size: .8rem;
	   			color: #666;
	   			.btn-reply {
	   				margin: 0 1rem;
	   			}
	   		}
	   		.medias-one-pic {
				width: 100%;
			    height: 0;
			    padding-bottom: 56.25%;
			    overflow: hidden;
			}
			.medias-img {
				width: 100%;
			}
	   	}
	}
   	.other {
   		display: flex;
	    height: 2.25rem;
	    text-align: center;
	    line-height: 1.5rem;
	    margin-bottom: -.0625rem;
	    a {
	    	-webkit-flex: 1;
	    	padding: .375rem 0;
    		text-decoration: none;
	    }
   	}
}

.floor-list {
	margin-bottom: 2em;
	min-height: -webkit-fill-available;
	background-color: #fff;
	.subject {
		padding-top: 1em;
		margin: 0;
		background-color: #fff;
	}
	.floor {
		margin-bottom: 1px;
		padding-bottom: 1em;
		&.master {
			margin-bottom: 10px;
		}
		&:after {
		    content: '';
		    position: absolute;
		    left: 0;
		    bottom: -18px;
		    width: 100%;
		    /*height: 1px;*/
		    background: #f0f0f0;
		    transform: scaleY(0.5);			
		}
	}
}

.more-operation-btn {
	position: absolute;
    right: 0;
    width: 18px;
    height: 18px;
    color: #000;
    // background-image: url(//tb2.bdstatic.com/tb/mobile/spb/widget/post_item_bxs/img/icon_card_more_n_1bb7e17.png);
    // background-repeat: no-repeat;
    // background-size: contain;
    // background-position: center;
    -webkit-tap-highlight-color: rgba(255,255,255,.3);	
}

.task-page {
	// padding: 2em 1em 0 1em;
	overflow: scroll;
	// background-color: #4d4e50;
	.task-title {
		padding: 0 2em;
		margin: 1em 0;
		display: inline-block;
		background-color: #000;
		color: #fff;
		font-size: 1em;
		line-height: 3em;
	}
	.page-content{
		background: #fff;
		// border-top-left-radius: 10px;
		// border-top-right-radius: 10px;
	}
	.selected {
		color: @mainColor;
		/*box-shadow: 0 0 20px #4d4e50;*/
	}
	.item-inner {
		.item-title {
			white-space: normal;
		}
		&:after {
			transform-origin: 0;
		}
	}
}
.list-block {
	margin: 0 !important;
}

.tabs-row {
	margin: 0;
	padding: 0;
	background-color: #fff;
	overflow: scroll;
	.buttons-row {
		height: 44px;
		width: auto;
		.button {
			padding: 0 .5em;
			height: 44px;
			width: auto;
			color: #666;
			font-size: 16px;
			line-height: 44px;
			border: none;
			&:first-child {
				padding-left: 1em;
				border-radius: 0;
			}
			&:last-child {
				padding-right: 1em;
				border-radius: 0;
			}
			&.active {
				color: @mainColor;
				background: transparent;
				border-bottom: solid;
				font-size: 1em;
			}
		}
		.more {
			padding: 0 1em;
			position: absolute;
			right: 0;
			i {
				color: #00b38c;
				line-height: 44px;
			}
		}
	}
	&:after {
		display: none;
	}
}

.info-item {
	margin-bottom: 1px;
	background-color: #fff;
	.info-wrap {
		display: block;
		padding: 0 12px;
		.info-inner {
			position: relative;
			.info-link {
				display: block;
				width: 100%;
				box-sizing: content-box;
				text-decoration: none;
				margin-left: -12px;
				padding: 15px 12px;
				&:before {
					content: " ";
    				display: table;
				}
				.info-other {
					position: relative;
					font-size: 11px;
				    line-height: 16px;
				    color: rgb(155, 158, 163);
				    font-size: 12px;
				    margin: 0px;
				    * {
				    	margin-right: 1em;
				    }
				}				
			}
		}
		&.horizontal {
			.info-title{
			    color: rgb(63, 65, 70);
			    line-height: 22px;
			    margin-bottom: 15px;
			    min-height: 48px;
			    text-overflow: ellipsis;
			    display: -webkit-box;
			    -webkit-box-orient: vertical;
			    -webkit-line-clamp: 3;
			    /*font-family: PingFangSC-Medium, "Source Han Sans CN", sans-serif;*/
			    text-align: justify;
			    overflow: hidden;
			}			
			.info-images {
				width: 33%;
			    float: right;
			    position: relative;
			    margin-left: 15px;
			    pointer-events: none;
			    transform: scale(1);
			    overflow: hidden;
			    border-radius: 3px;
			    &:after {
			    	display: block;
				    content: "";
				    padding-top: 65.6%;
			    }				    
			    .image-inner {
					position: absolute;
				    top: 0px;
				    bottom: 0px;
				    right: 0px;
				    left: 0px;
				    background-color: rgb(234, 234, 234);
				    /*background-image: url(//mat1.gtimg.com/www/mobi/2017/image/image-placeholder-logo.svg);*/
				    background-size: 45px 45px;
				    background-position: center center;
				    background-repeat: no-repeat;			    	
				    img {
					    display: block;
					    width: 100%;
					    height: 100%;
					    max-width: unset;
					    max-height: unset;
					    margin-left: 0px;
					    margin-top: 0px;
					    border: 0px none;
					    vertical-align: top;
					    visibility: visible;
					    transition: opacity 200ms ease-out;
					    opacity: 1;
					    backface-visibility: hidden;
					    background-color: rgb(255, 255, 255);

				    }
			    }
			}			
		}
		&.vertical {
			.info-title {
				color: rgb(63, 65, 70);
			    line-height: 22px;
			    font-size: 17px;
			    margin-bottom: 10px;
			    margin-top: 0px;
			    /*font-family: PingFangSC-Medium, "Source Han Sans CN", sans-serif;*/
			    text-align: justify;		
			}
			.info-images{
				display: flex;
			    flex-wrap: nowrap;
			    -webkit-box-pack: justify;
			    justify-content: space-between;
			    position: relative;
			    margin-bottom: 11px;
			    overflow: hidden;
			    .image-item {
				    position: relative;
				    pointer-events: none;
				    transform: scale(.95);
				    flex: 1 1 0px;
				    overflow: hidden;
				    /*border-radius: 3px;*/
				    &:after{
					    display: block;
					    content: "";
					    padding-top: 65.6%;				    	
				    }
				    .image-item-inner {
					    position: absolute;
					    top: 0px;
					    bottom: 0px;
					    right: 0px;
					    left: 0px;
					    background-color: rgb(234, 234, 234);
					    /*background-image: url(//mat1.gtimg.com/www/mobi/2017/image/image-placeholder-logo.svg);*/
					    /*background-size: 45px 45px;*/
					    background-position: center center;
					    background-repeat: no-repeat;		    	
					    img {
						    display: block;
						    width: 100%;
						    height: 100%;
						    max-width: unset;
						    max-height: unset;
						    margin-left: 0px;
						    margin-top: 0px;
						    border: 0px none;
						    vertical-align: top;
						    visibility: visible;
						    transition: opacity 200ms ease-out;
						    opacity: 1;
						    backface-visibility: hidden;
						    background-color: rgb(255, 255, 255);			    	
					    }
				    }
			    }
			}
		}
	}
}

.card-footer {
	padding: 0;
	&:before {
		display: none;
	}
	.media {
		color:#929292;
		font-size: 16px;
		vertical-align: -.16em;
	}
}

.topic-chip {
	margin: 1em;
	color: #949494;
	background: #f3f3f3;
	border: solid 1px #d7d7d7;
	border-radius: 10px;
	.remove {
		background: red;
		border-radius: 50%;
	}
}

.reply-wrap {
    padding: 7px 0 7.5px;
    margin: 5px 0 0 43px;	
    position: relative;
    background-color: #F5F5F5;
    .reply-item {
		padding: 1.5px 10px 0;
	    margin: 0;
	    .reply-content {
		    color: #333;
		    font-size: 14px;
		    text-align: justify;	    	
	    }
    }
}

.logo-gif {
	width: 199px;
	height: 50px;
	background: url('../assets/agriculture.gif');
}

.none-wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.none-wrap .label {
	align-self: center;
	font-size: 2em;
	color: #a8a8a8;
}

.list-block {
	.item-media {
		padding: 0;
	}
	.item-subtitle {
		color: #8e8e93;
	}
}

// i.icon.icon-f7 {
// 	width: 44px;
// 	height: 44px;
// 	img {
// 		border-radius: 4px;
// 	}
// }
.content-block-title {
	margin: 15px 10px;  
}

.praise-active {
	animation: scaleOnece .5s;
	animation-fill-mode: forwards;
}
@keyframes scaleOnece {
	50% {
		transform: scale(2);
	}
	100% {
		transform: scale(1);
		color: #ff5983;
	}
}
.footer-nav {
	position: fixed;
	z-index: 2001;
	left: 0;
	bottom: 0;
	width: 100%;
	min-height: 2rem;
	border-top: solid 1px #f0f0f0;
}



.refresh-bg {
	padding-top: 6em;
	position: fixed;
	flex-direction: column;
	display: flex;
	top: 0;
	left: 0;
	z-index: 20001;
	width: 100%;
	height: -webkit-fill-available;
	background-color: #fff;
	.bg-img {
		text-align: center;
		img {
			width: 50%;
			max-width: 320px;
		}
	}
	.bg-label {
		font-size: 1.2em;
		color: gray;
		text-align: center;
		align-self: center;
	}
}
.floating-button {
	width: 40px;
	height: 40px;
	background-color: #ec6b34;
	opacity: .8;
	box-shadow: 0 0 10px #ec6b34;
	&.active-state {
		background-color: #ec6b34;
		opacity: 1;
	}
}