.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
.staticbox {
	overflow: hidden;
}
.h-auto {
	height: auto;
}

.right-line {
	border-right: solid 1px #d2d2d2;
}
.left-line {
	border-left: solid 1px #d2d2d2;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}
.fontsize-2x {
	font-size: 2rem !important;
}
.fontsize-1x {
	font-size: 1rem !important;
}
.hidden {
	display: none;
}

/*fonts tools style*/
.font-empty-desc,
.font-subtitle {
	font-size: 1em;
	color: #6d6d72;
}
/*border styles*/
.border-shape-circle {
	border-radius: 100% !important;
}